################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OnlineExamBe/OnlineExam/appsettings.json
/OnlineExamBe/OnlineExam/.vs
